html, body {
    background-color: #f7f7f7;
    color: #484c55;
    min-height: 100%;

    font-size: 14px;
    font-family: sans-serif;
}

body {
    max-width: 75em;
    margin: 0 auto;
}

header {
    text-align: center;
}

form {
    display: flex;
    margin-bottom: 10px;
}

form * {
    -webkit-appearance: none;
    font-size: 1.2em;
    background-color: white;
    border: 1px solid gray;
    border-radius: 0px;
}

input {
    flex: 1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
}

button {
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.comic {
    margin-bottom: 15px;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.comic > div {
    display: flex;
}

.comic .image {
    min-width: 600px;
}

.comic img {
    max-width: 100%;
}

.comic p {
    margin: 0 0 0 10px;
}

.comic p .found {
    background-color: #ffff00;
}

.comic .title {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.4em;
}

.comic .title a {
    /** Nothing works to style it not as emoji :( */
    padding-left: 5px;
    text-decoration: none;
}

.navigation {
    text-align: center;
    padding-bottom: 20px;
}

.navigation a {
    width: 6em;
    margin: 5px;
    display: inline-block;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
    color: #484c55;
    text-decoration: none;

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);

    transition: all 0.2s ease;
}

.navigation a:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

header a {
    text-decoration: none;
    color: #484c55;
}

header img {
    display: inline-block;
    height: 30px;
}